<!DOCTYPE html>
<html>

<head>
    <title>Condensacion Ventas</title>
</head>

<body>
    <div>
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box title_types">Año</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box title_types">Mes</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box title_types">Distribución</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box title_types">Cluster</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box title_types">Empresa:</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box title_types">Calculo</div>
            </div>
        </div>

        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    <a nz-dropdown [nzDropdownMenu]="year">
                        {{labelYear}}
                        <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #year="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let year of listYears" (click)="updateLabelYear(year)">{{year}}
                            </li>
                        </ul>
                    </nz-dropdown-menu>

                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    <a nz-dropdown [nzDropdownMenu]="month">
                        {{labelMonth}}
                        <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #month="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let month of listMonths" (click)="updateLabelMonth(month)">
                                {{month}}</li>
                        </ul>
                    </nz-dropdown-menu>

                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    <a nz-dropdown [nzDropdownMenu]="distribution">
                        {{labelDistribution}}
                        <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #distribution="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let distribution of listDistributions"
                                (click)="updateLabelDistribution(distribution)">
                                {{distribution}}</li>
                        </ul>
                    </nz-dropdown-menu>

                </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    <a nz-dropdown [nzDropdownMenu]="cluster">
                        {{labelCluster}}
                        <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #cluster="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let cluster of listClusters" (click)="updateLabelCluster(cluster)">
                                {{cluster}}</li>
                        </ul>
                    </nz-dropdown-menu>

                </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    <a nz-dropdown [nzDropdownMenu]="company">
                        {{labelCompany}}
                        <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #company="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let company of listCompanies" (click)="updateLabelCompany(company)">
                                {{company}}</li>
                        </ul>
                    </nz-dropdown-menu>
    
                </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    <nz-radio-group [(ngModel)]="radioCalcule">
                        <label nz-radio nzValue="Mes">Mes</label>
                        <label nz-radio nzValue="Acumulado">Acumulado</label>
                    </nz-radio-group>
                </div>
            </div>
        </div>
        <br>
        <div>
            <button nz-button nzType="primary" (click)="updateGraphs()">Graficar</button>
        </div>

        <br>
        <div nz-row [nzGutter]="[16, 24]" [style.visibility]="(visible == false) ? 'hidden' : 'visible' ">
            <div nz-col class="gutter-row" [nzSpan]="8">
                <div id="chart_participationUnit"></div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="8">
                <div id="chart_participationDistri"></div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="8">
                <div id="chart_locations"></div>
            </div>
        </div>

        <div nz-row [nzGutter]="[16, 24]" [style.visibility]="(visible == false) ? 'hidden' : 'visible' ">
            <div nz-col class="gutter-row" [nzSpan]="10">
                tabla
            </div>

            <div nz-col class="gutter-row" [nzSpan]="10">
                grafico

            </div>
        </div>

        <div id="chart_evolution"></div>
        
    </div>
</body> 

</html>