@import url(https://fonts.googleapis.com/css?family=Roboto);

nz-header{
    padding: 0;
    width: 100%;
    z-index: 2;
    height: 150px;
    font-size: 10px;

}
.title_types{
    color: black;
    font-style: oblique;
   
}

.app-header{
    position: relative;
    height: 64px;
    padding: 0;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.header-trigger{
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
  }
  
  .inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
  }
  nz-sider{
      background:#d28585;
      color: #fff;
      line-height: 120px;
  }
  nz-header{
      background:white ;
      font-size: 15px;
  }
  nz-content{
    background: #d28585;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  a{
      color: black;
  }

  nz-card{
      border-radius: 30px;
  }
  
