<!DOCTYPE html>
<html>
    <head>
        <title> Evolucion de Ventas</title>
    </head>

    <body>
        <nz-layout>
            <nz-header>
                <div class="app-header">
                  <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                      <nz-layout>
                          <nz-sider>Evolucion</nz-sider>
                          <nz-layout>
                              <nz-header>

                              </nz-header>
                              <nz-content>

                              </nz-content>
                          </nz-layout>
                      </nz-layout>
                  </span>
                </div>
              </nz-header>
        </nz-layout>

        
    </body>

</html>