<!DOCTYPE html>
<html>

<head>
    <title> Evolucion de Ventas</title>

</head>

<body>

    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box title_types">Anio</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box title_types">Mes</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box title_types">Cluster</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box title_types">Empresa</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box title_types">Visualizar:</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box title_types">Mostrar en:</div>
        </div>
    </div>

    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
                <a nz-dropdown [nzDropdownMenu]="year">
                    {{lblYear}}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #year="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let year of listYears" (click)="updateLabelYear(year)">{{year}}
                        </li>
                    </ul>
                </nz-dropdown-menu>

            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
                <a nz-dropdown [nzDropdownMenu]="month">
                    {{lblMonth}}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #month="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let month of listMonths" (click)="updateLabelMonth(month)">
                            {{month}}</li>
                    </ul>
                </nz-dropdown-menu>

            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">

                <a nz-dropdown [nzDropdownMenu]="cluster">
                    {{lblCluster}}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #cluster="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let cluster of listClusters" (click)="updateLabelCluster(cluster)">
                            {{cluster}}</li>
                    </ul>
                </nz-dropdown-menu>

            </div>


        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
                <a nz-dropdown [nzDropdownMenu]="company">
                    {{lblCompany}}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #company="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let company of listCompanies" (click)="updateLabelCompany(company)">
                            {{company}}</li>
                    </ul>
                </nz-dropdown-menu>

            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
                <nz-radio-group [(ngModel)]="radioValue">
                    <label nz-radio nzValue="Mes">Mes</label>
                    <label nz-radio nzValue="Acumulado">Acumulado</label>
                </nz-radio-group>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
                <nz-radio-group [(ngModel)]="radioValueUnits">
                    <label nz-radio nzValue="Millones">Millones</label>
                    <label nz-radio nzValue="Miles">Miles</label>
                    <label nz-radio nzValue="Unidad">Unidad</label>
                </nz-radio-group>
            </div>
        </div>
    </div>

    <br>
    <div>
        <button nz-button nzType="primary" (click)="updateGraphs()">Graficar</button>
    </div>
    <br>
    <div [style.visibility]="(visible == false) ? 'hidden' : 'visible' ">
        <div id="chart_sales" >
        </div>
        <div style="float: right;">
            <nz-space nzDirection="vertical" >
                <nz-card *nzSpaceItem nzTitle="Margen Bruto" style="width: 400px; height: 400px; text-align: center;">
                    <div nz-row [nzGutter]="8">
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblCLastYear}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblBLast}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblBPorcentLast}}</div>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="8">
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblCSelectYear}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblBSelect}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblBPorcentSelect}}</div>
                        </div>
                    </div>
                    <div id="chart_margin">
    
                    </div>
                </nz-card>
                <nz-card *nzSpaceItem nzTitle="Margen Operacional" style="width: 400px; height: 400px;text-align: center;">
                    <div nz-row [nzGutter]="8">
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblCLastYear}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblOLast}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblOPorcentLast}}</div>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="8">
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblCSelectYear}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblOSelect}}</div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box title_types">{{lblOPorcentSelect}}</div>
                        </div>
                    </div>
    
                    <div id="chart_operation">
    
                    </div>
                </nz-card>
            </nz-space>
        </div>
        <div id="chart_spend" >
        </div>
    </div>
    
    <br>

    

</body>

</html>