#chart_consol {
    max-width: 950px;
    margin: 35px auto;
  }
  
nz-card{
  border-radius: 25px;
  box-shadow:0 4px 8px 0 rgb(160, 156, 156) ;
  transition: 0.3s;
}

.float-right{
  float: right;
}
